@media screen and (min-width: 800px) {
  #menu {
    display: none;
  }

  #mainHome {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 320px auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    justify-items: center;
  }

  header {
    padding: 0 40px;
  }

  nav {
    position: static;
    height: auto;
  }

  #spotlightsSubtitle {
    display: none;
  }

  #spotlightsContainer {
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  #eventsSection {
    grid-column: 1/2;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }

  #weatherSection {
    grid-column: 2/5;
    margin: 0;
    height: 290px;
    overflow: hidden;
    position: relative;
    padding-bottom: 55px;
  }

  #weatherSection.active {
    height: auto;
  }

  #weatherSection.active > #weatherCards > .weatherCard:nth-child(2) {
    margin-bottom: 0;
  }

  #weatherSection h3:first-child {
    display: none;
  }

  #weatherCards {
    grid-column: 2/5;
    margin: 0;
  }

  #weatherCards > .weatherCard:nth-child(2) {
    margin-bottom: 40px;
  }

  #btnShowForecast {
    display: block;
    position: absolute;
    bottom: 9px;
  }

  #weatherBar {
    width: 100%;
  }

  #weatherForecast {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }

  #discoverMain {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: repeat(5, auto);
    margin: 30px auto;
    max-width: 1000px;
  }

  #discoverMain h1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #joinMain {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: auto;
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
  }

  #lastVisitSection {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    align-content: center;
  }

  #missionSection {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #visionSection {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  #servicesSection {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  #eventsDiscoverSection {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  #imagesSection {
    grid-column: 2/3;
    grid-row: 2/7;
  }

  #imagesSection img {
    transition: transform 0.3s ease-in-out;
  }

  #imagesSection img:hover {
    transform: scale(1.05);
  }

  .hero {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation > li {
    height: 80px;
  }

  .navigation a {
    padding: 0 2rem;
    font-size: 1.1rem;
  }

  .herolabel {
    top: 20px;
    left: 20px;
    bottom: auto;
    right: auto;
    opacity: 100;
  }

  .herolabel button {
    font-size: 1.2rem;
  }

  .spotlightsCard {
    width: 95%;
  }

  .spotlightsCard:nth-child(1) {
    grid-column: 1/2;
  }

  .spotlightsCard:nth-child(2) {
    grid-column: 2/3;
  }

  .spotlightsCard:nth-child(3) {
    grid-column: 3/4;
  }

  .contentCards {
    margin: 0;
    width: 100%;
    line-height: 21px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items: center;
  }

  #directoryMain section h3 {
    font-size: 1rem;
  }

  #directoryMain section p:nth-child(3) {
    margin-top: 0;
  }

  #directoryMain section p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  #directoryMain section a {
    margin-top: 0;
  }

  #directoryArticle h2 {
    grid-column: 1/4;
  }
}
