@media screen and (min-width: 500px) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  main {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
  }

  h1 {
    grid-column: 1 / 3;
    text-align: start;
  }

  footer > div {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}
